/*THE GLOBAL STYLES*/
* {margin: 0;}
html, body { height: 100% }
body {margin: 0px; padding: 0px; text-align:center;font-family: 'Cabin', arial, serif;}
h1, h2, h3, h4, p, label{padding:5px 10px;}
li{list-style:none;margin:0;padding:0;}

/*...AND THEN CAME MORE STYLES...*/
#container{border-left: 1px solid #ccc; border-right: 1px solid #ccc;width:940px; text-align:left; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */}
#header{background-color:#ccc;}
h1 span{color:#003AB5;}
#content{margin: 0 0 20px 0;}
.error {color: red;}
.clear_float{clear:both;width:1px;height:1px;}

/*SEARCH FORM*/
#search_form{margin: 0 0 10px 0;}

/*GOOGLE MAP*/
#map_canvas {text-align: center; width: 391px; height: 375px; float:left;}

/*REPORTS*/
ul#report{margin:0;padding: 0; height:375px; width:547px;overflow-y:auto; overflow-x:none; float: right;}
li.report_row{width:500px; height: 70px; background-color:#ccc; padding: 5px;margin:10px;border: 1px solid #888;}
.report_row.hover{background-color:#e2e2e2;}
.report_row.selected{background-color:#efefef;}
.report-image{ width:50px; height:50px; display:block; margin: 10px; float:left; border: 1px solid #888; background-repeat: no-repeat background-position: center left;}

/*REPORTS TEXT*/
.report-text{width:425px; height: 40px; padding: 10px; float:right; padding:27px 0 0 0;}
.walking_distance {padding: 0 10px 0 0;}

/*REPORTS IMAGES*/
.all      .report_image {}
.bixi     .report-image {background: url('../images/icons/bixi.png');}
.grocery  .report-image {background: url('https://foursquare.com/img/categories/shops/food_grocery_64.png');}
.police   .report-image {background: url('https://foursquare.com/img/categories/building/default_64.png');}
.hospital .report-image {background: url('https://foursquare.com/img/categories/building/medical_hospital_64.png');}
.fire     .report-image {background: url('https://foursquare.com/img/categories/building/government_firestation_64.png');}
.gym      .report-image {background: url('https://foursquare.com/img/categories/building/gym_64.png');}
.metro    .report-image {background: url('https://foursquare.com/img/categories/travel/subway_64.png');}
.bus      .report-image {background: url('https://foursquare.com/img/categories/travel/busstation_64.png');}

/*FOOTER*/
#footer{background-color:#ccc; margin: 0 0 10px 0;}
#footer p{margin:0; padding:10px;}
#footer, .push {height: 50px; /* .push must be the same height as #footer */}

.walking_distance {
  float:right;
  background: url('../images/icons/walking.png');
  background-repeat: no-repeat;
  padding-left: 30px;
}

#search {
  width: 400px;
}

#search_form {
  text-align: center;
}
